.forms-view-wrapper {
    position: relative;
    width: 420px;
    height: fit-content;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 1);
    backdrop-filter: blur(30px);
    border-radius: 10px;
    color: #ececec;
    display: flex;
    align-items: center;
    transition: .2s ease;
    overflow: hidden;
}

.forms-view-wrapper .forms-wrapper .form-box {
    padding: 40px;
    min-width: 420px;
    box-sizing: border-box;
}

.forms-view-wrapper .forms-wrapper.activeRegister .form-box {
    height: 600px;
}

form h1 {
    font-size: 36px;
    text-align: center;
}

form .input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    background: #ececec;
    border-radius: 40px;
    background: transparent;
}

.input input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 40px;
    font-size: 16px;
    color: #ececec;
    text-align: center;
}

.input input::placeholder {
    color: #ececec;
}

.input .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    translate: 0 -50%;
    font-size: 16px;
    color: #ececec;
}

form .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #ececec;
    margin-right: 4px;
}

.remember-forgot a {
    color: #ececec;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 45px;
    background: #ececec;
    border: none;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #142d4c;
    font-weight: 700;
}

form .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #ececec;
    text-decoration: none;
    font-weight: 1000;
}

.register-link p a:hover {
    text-decoration: underline;
}

form .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a {
    color: #ececec;
    text-decoration: none;
    font-weight: 1000;
}

.login-link p a:hover {
    text-decoration: underline;
}

form .login-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.login-link p a {
    color: #ececec;
    text-decoration: none;
    font-weight: 1000;
}

.forgot-password-link p a:hover {
    text-decoration: underline;
}